html, body {
    min-height: 100vh;
    height: fit-content;
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: rgb(242, 242, 242)
}

header {
    background-color: darkslategray;
    width: 100%;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 65px;
    font-weight: normal;
    color: rgb(242, 242, 242);
    text-align: center;
    margin: 0px;
    padding: 25px;
}

h2 {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: darkslategray;
}

h3 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: darkslategray;
}

p {
    margin: 0;
}

a, a.visited {
    text-decoration: none;
    color: unset;
}

.linkInText {
    color: royalblue;
}

.linkInText:hover {
    filter: brightness(75%);
}

button {
    outline: none;
    cursor: pointer;
}

.generalButton {
    padding: 12px;
    font-size: 16px;
    background-color: darkslategray;
    color: white;
}

.generalButton:hover {
    filter: brightness(85%);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.topMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

.topMenu li {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    padding: 12px 20px 9px 20px;
    margin: 0 10px;
}

.topMenu li.active {
    color: darkslategray;
    background-color: rgb(242, 242, 242);
}

.spaceUnderHeader {
    height: 50px;
}

.paragraphBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: fit-content;
    margin: 0 35px 40px 35px;
}

.otherPagePart {
    display: flex;
    justify-content: center;
    margin: 0 35px 40px 35px;
}

.paragraphTitle {
    padding: 28px 35px 25px 35px;
    text-align: center;
    border-bottom: 4px solid darkslategray;
}

.paragraphContent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 35px;
}

.partColumn {
    display: flex;
    flex-direction: column;
}

.partRow {
    display: flex;
}

.footerOverlay {
    height: 30px;
}

.footer {
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    padding-left: 35px;
    box-sizing: border-box;
    color: white;
    background-color: darkslategray;
    position: absolute;
    bottom: 0;
}


/*Mobile view*/

@media screen and (max-width: 617px) {
    .topMenu li {
        margin: 0;
    }
}

@media screen and (max-width: 428px) {
    .paragraphBox * {
        max-width: 288px;
    }

    .paragraphBox, .otherPagePart {
        margin: 0px 20px 40px 20px
    }

    .paragraphContent {
        padding: 35px 20px;
    }

    .paragraphTitle {
        padding: 28px 20px 25px 20px;
    }
}