.smallIcon {
    height: 20px;
    align-self: flex-end;
}

.contactP {
    margin-bottom: 25px;
    text-align: center;
    min-width: 288px;
}

form * {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid darkslategray;
}

textarea {
    height: 150px;
    resize: vertical;
    margin-bottom: 0;
}

input[type=submit] {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}