:root {
    --card1: url(../../images/memory-images/card1.png);
    --card2: url(../../images/memory-images/card2.png);
    --card3: url(../../images/memory-images/card3.png);
    --card4: url(../../images/memory-images/card4.png);
    --card5: url(../../images/memory-images/card5.png);
    --card6: url(../../images/memory-images/card6.png);
    --card7: url(../../images/memory-images/card7.png);
    --card8: url(../../images/memory-images/card8.png);
    --card9: url(../../images/memory-images/card9.png);
    --card10: url(../../images/memory-images/card10.png);
}
  
body {
    position: relative;
}

.memory {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0.5%;
    width: 24%;
    height: 19%;
    visibility: visible;
    cursor: pointer;
    border-radius: 5px;
    background-color: darkslategray;
    background-image: url('../../images/favicon.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.memory.done {
    align-items: center;
    justify-content: center;
}

.memory .generalButton {
    width: 50%;
    margin-top: 30px;
}
