#homepageParagraphContent {
    display: inline-block;
    max-width: 928px;
}

#imageSlider {
    width: 288px;
    height: 384px;
    float: left;
    border-radius: 9px;
    margin-right: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    min-width: 864px;
    display: flex;
    transition: transform 0.6s;
}

.imageContainer img {
    width: 288px;
    height: 384px;
}

#sliderBtnContainer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    top: -18px;
    position: relative;
}

#sliderBtnContainer button {
    padding: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 3px;
    border: 1px solid white;
    background: hsla(0, 0%, 100%, 0.0);
}

#sliderBtnContainer button.active {
    background: hsla(0, 0%, 100%, 0.6);
}

#sliderBtnContainer button:hover {
    background: hsla(0, 0%, 100%, 1.0);
}

.spaceUnderParagraphTitle {
    height: 32px;
}

#introduction {
    margin-bottom: 30px;
}

#stackLogos {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#stackLogos .stackLogo img {
    height: 35px;
    margin: 7px 7px;
}

.stackLogo {
    display: inline-block;
    position: relative;
}

.tooltipText {
    visibility: hidden;
    background-color: darkslategray;
    color: white;
    padding: 4px 6px 6px 6px;
    box-shadow: 2px 2px 2px grey;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 30%;
}

.stackLogo:hover .tooltipText {
    visibility: visible;
}

.mediaLinkButton img {
    height: 35px;
    margin: 0 7px;
}

.mediaLinkButton:hover {
    filter: brightness(85%);
}




@media screen and (max-width: 993px) {
    .spaceUnderParagraphTitle {
        display: none;
    }
}

@media screen and (max-width: 890px) {
    #imageSlider {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 617px) {
    #homepageParagraphContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 288px;
    }

    #imageSlider {
        margin-right: 0;
    }
}
