.h2Container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 1060px;
    background-color: rgb(242, 242, 242);
    margin: 15px 0 25px 0;
    background-image: linear-gradient(to right, rgb(184, 184, 184), rgb(242, 242, 242));
}

.triangleRight {
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 50px solid rgb(242, 242, 242);
	border-bottom: 50px solid transparent;
}

.h2Icon {
    height: 35px;
    margin: 0 24px;
}

.multipleParagraphs {
    display: flex;
    margin: 0 22px 40px 22px;
}

.multipleParagraphs .paragraphBox {
    margin: 0 13px;
}

.paragraphCard .paragraphContent p {
    width: 400px;
}

p iframe {
    min-width: 288px;
    width: 100%;
    height: 200px;
}

.embed-img {
    margin-top: 20px;
    width: 200px;
    align-self: center;
}

ul {
    margin-top: 2px;
    padding-left: 20px;
}

button.linkInText {
    border: none;
    outline: none;
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

button.linkInText:first-of-type {
    padding: 0;
}


.in-progress {
    color: rgb(131, 131, 131)
}

#content.background {
    pointer-events: none;
}




/* smaller screens */

@media screen and (max-width: 1110px) {
    .h2Container {
        left: 0;
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 1035px) {
    .paragraphCard .paragraphContent p {
        width: calc(50vw - 118px);
    }
}

@media screen and (max-width: 801px) {
    .multipleParagraphs {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .multipleParagraphs .paragraphBox {
        margin: 0 35px 40px 35px;
    }

    .paragraphCard .paragraphContent p {
        width: 400px;
    }
}

@media screen and (max-width: 540px) {
    .paragraphCard .paragraphContent p {
        width: calc(100vw - 140px);
    }

    .h2Container {
        width: 100%;
    }

    .triangleRight {
        display: none;
    }
}

@media screen and (max-width: 428px) {
    .multipleParagraphs .paragraphBox {
        margin: 0 20px 40px 20px;
    }

    .paragraphCard .paragraphContent p {
        width: 288px;
    }
}





/* game window */
.game-window {
    display: none;
    width: 470px;
    max-width: 90vw;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.game-window.active {
    display: flex;
    flex-direction: column;

    /* For Internet Explorer */ 
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, .3); 
    
    /* For other browsers */ 
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3); 
}

.game-header {
    padding: 28px 35px;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    position: relative;
}

.game-header h3 {
    color: white;
}

.game-header button {
    position: absolute;
    font-size: 32px;
    right: 0;
    top: 0;
    width: 1.2em;
    height: 1.4em;
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.game-body {
    height: fit-content;
    padding: 35px;
    box-sizing: border-box;
    background-color: white;
    flex-grow: 1;
}

.game-body iframe {
    width: 100%;
    height: 500px;
    max-height: calc(80vw * 1.25); /* 5/4 of the width of the object*/
}

@media screen and (max-width: 634px) {
    .game-header, .game-body {
        padding: 5vw;
    }
}
